.highlighted {
  
}

.comparison-center {
  display: flex;
  flex-direction: column;
  height: 400px;
 	justify-content: space-around;
  left: calc(50% - 130px);
  position: absolute;
  top: 10px;
  width: 263px;

  h3 {
  	color: #F1970B;
    font-size: 50px;
    text-align: center;
  }

  h4 {
  	color: #F1970B;
    font-size: 20px;
    line-height: .9;
    opacity: .6;
    text-align: center;
  }

  h5 {
    color: #F1970B;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
  }

  h6 {
  	color: #F1970B;
    font-family: 'Indie Flower', cursive;
  	opacity: .7;
    text-align: center;
  }

  .compare-bottom {
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: 818px) {
  .comparison-center {
    height: initial;
    margin: 20px 0;
    position: static;
    width: initial;

    h3, h6 {
      color: #fff;
    }
  }

  .avg-diff {
    background: linear-gradient(to right, rgba(166,22,8,0.5) 0%,rgba(166,22,8,1) 45%,rgba(166,22,8,1) 55%,rgba(166,22,8,0.5) 100%);
    margin: 20px 0;
    padding: 8px 0 15px;
  }

}

@media screen and (max-width: 545px) {
  .avg-diff {
    background-color: rgba(166,22,8,1);
  }
}
