.card-container-component {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-around;

}

.comparison-card-container-component {
	display: block;
  height: 542px;
  margin: auto;
	position: relative;
  width: 800px;

	.instructions {
		color: #F1970B;;
		font-family: 'Indie Flower', cursive;
  	font-weight: bold;
    font-size: 30px;
    text-align: center;
	}
}

.comparison-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

.clear-button {
  background-color: #F1970B;
  border: none;
  border-radius: 6px;
  bottom: 6px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Indie Flower', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  left: calc(50% - 77px);
  margin: auto;
	margin-bottom: -60px;
  padding: 0px;
  position: absolute;
	width: 154px;
}

.clear-button:hover {
	background-color: #1c6d9c;
}

@media screen and (max-width: 818px) {
  .comparison-card-container-component {
    height: initial;
    width: initial;

    .instructions {
      margin-top: 11px;
    }
  }

  .comparison-top {
    align-items: center;
    flex-direction: column;
  }

  .clear-button {
    position: static;
  }
}
