@import './App.scss';
@import './Cards.scss';
@import './CardContainer.scss';
@import './ComparisonCard.scss';
@import './ComparisonCardContainer.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
